# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ToysRUs2.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Johannes\Documents\Git\ToysRUs2\.idea\.idea.ToysRUs2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
